# CDK
cdk.out/
*.d.ts
*.js
*.js.map

# Dependencies
node_modules/
package-lock.json

# IDE
.vscode/
.idea/

# Logs
*.log

# CDK Context & Outputs
cdk.context.json
cdk-outputs.json

# Environment files
.env
.env.local

# OS
.DS_Store
Thumbs.db